{
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "targets": {
              "browsers": ["last 1 versions", "ie >= 10"]
          },
          "modules": "commonjs",
          "loose": true,
          "useBuiltIns": true
        }]
      ]
    }
  },
  "presets": [
    ["env", {
      "targets": {
          "browsers": ["last 1 versions", "ie >= 10"]
      },
      "modules": false,
      "loose": true,
      "useBuiltIns": true
    }],
    "react"
  ]
}