{
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 3 versions", "ie >= 11"]
            },
            "modules": "commonjs",
            "loose": true,
            "useBuiltIns": true
          }
        ]
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 3 versions", "ie >= 11"]
        },
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "react"
  ]
}
